<nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
  <div class='container'>
    <a class="navbar-brand">
      <p>
        <h3><b>TinyApp</b></h3>
        <% if(locals.user){ %>
        <%= user.email %>
        <% }else{ %>
        allows users to shorten long URLs
        <% } %>
      </p>
    </a>
    <!-- logout button if user logged in -->
    <% if(locals.user){ %>
    <form class='form-inline' action='/logout' method='POST'>
      <button class='btn btn-danger' type='submit'>SIGN OUT</button>
    </form>
    <% }else{ %>
    <!-- login and register buttons if user not logged in -->
    <div class='btn-group my-auto my-sm-0' role='group'>
      <span class='d-none d-md-inline-block'>
      <a href='/login'><button class='btn btn-info'>LOG IN<i class='fa fa-sign-in ml-2'></i></button></a>
      <a href='/register'><button class='btn btn-success'>REGISTER<i class="fa fa-pencil-square-o ml-2"></i></button></a>
      </span>
    </div>
    <% } %>
  </div>
</nav>
